<!DOCTYPE html>
<HTML><HEAD>
<TITLE>HOME PAGE</TITLE></HEAD>
<STYLE>
BODY{
background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
BACKGROUND-image:url({{url_for('static',filename='heartrate.jpg')}});
}
FORM{
WIDTH:600PX;
HEIGHT:1150PX;
PADDING:10PX;
MARGIN:AUTO;
BACKGROUND:white;
FONT=SIZE:10PX;
COLOR=WHITE;
}
INPUT[TYPE="TEXT"]{
WIDTH=100%;
PADDING=10PX
FONT-SIZE:17PX;
}
INPUT[TYPE="SUBMIT"]{
WIDTH=100%;
PADDING=10PX;
FONT-SIZE:17PX;
}
</STYLE>
<BODY>
<H2><FONT COLOR=white><P ALIGN=CENTER>HEART DISEASE PREDICTOR</H2></FONT></P>
<FORM action="/predict" method="post">
<label id='Age'></label>
    <H4 align ='center'>Age : </H4>
<p align = 'center'><INPUT TYPE=TEXT NAME='Age' required><BR></p>
<label id='Sex'></label>
    <H4 align ='center'>Sex:</H4>
<p align = 'center'><INPUT TYPE=TEXT NAME='Sex' required><BR></P>
<label id='CP'></label>
    <H4 align ='center'>Cp:</H4>
<p align = 'center'><INPUT TYPE=TEXT NAME='CP' required><BR></P>
<label id='TrestBps'></label>
    <H4 align ='center'>TrestBps:</H4>
<p align = 'center'><INPUT TYPE=TEXT NAME='TrestBps' required><BR></P>
<label id='Chol'></label>
    <H4 align ='center'>Chol:</H4>
<p align = 'center'><INPUT TYPE=TEXT NAME='Chol' required><BR></P>
<label id='Fbs'></label>
    <H4 align ='center'>Fbs:</H4>
<p align = 'center'><INPUT TYPE=TEXT NAME='Fbs' required><BR></P>
<label id='RestEcg'></label>
    <H4 align ='center'>RestEcg:</H4>
<p align = 'center'><INPUT TYPE=TEXT NAME='RestEcg' required><BR></P>
<label id='Thalach'></label>
    <H4 align ='center'>Thalach:</H4>
<p align = 'center'><INPUT TYPE=TEXT NAME='Thalach' required><BR></P>
<label id='Exang'></label>
    <H4 align ='center'>Exang:</H4>
<p align = 'center'><INPUT TYPE=TEXT NAME='Exang' required><BR></P>
<label id='OldPeak'></label>
    <H4 align ='center'>OldPeak:</H4>
<p align = 'center'><INPUT TYPE=TEXT NAME='OldPeak' required><BR></P>
<label id='Slope'></label>
    <H4 align ='center'>Slope:</H4>
<p align = 'center'><INPUT TYPE=TEXT NAME='Slope' required><BR></P>
<label id='Ca'></label>
    <H4 align ='center'>Ca:</H4>
<p align = 'center'><INPUT TYPE=TEXT NAME='Ca' required><BR></P>
<label id='Thal'></label>
    <H4 align ='center'>Thal:</H4>
<p align = 'center'><INPUT TYPE=TEXT NAME='Thal' required><BR><BR></P>
<p align = 'center'><INPUT TYPE=submit value=Analyse><BR></P>
</FORM>
</BODY>
</HTML>